#home {
  width: 100%;
  z-index: -1;
  position:relative;
  background: #11e8bb; /* Old browsers */
  background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
}
#banners {
 max-height:10px ;
}
#project{
	margin: 0 0 0 0;
	background: url('../img/project-back.jpg');
  background-size:cover;
  height: auto;
  }
  @media only screen and (max-width: 600px) {
    #project{
      margin: 0 0 0 0;
      background: url('../img/project-back.jpg');
      background-size:cover;
      height: auto;
      }
      figure.product-card .fig-body {
        width: 98%;
        height: 500px;
        padding: 8%;
        display: block;
        background: #FFFFFF;
        position: relative;
        transition: all 0.5s ease;
      }
  }
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .products-title {
    text-align: center;
    margin: 2em 0 0;
    color: #294E55;
  }
  .products-title h2 {
    margin: 0;
  }
  
  .carousel .flickity-prev-next-button {
    display: none;
  }
  .carousel .flickity-prev-next-button .arrow {
    fill: #294E55;
  }
  .carousel .flickity-page-dots {
    display: none;
    position: relative;
    bottom: 5px;
    margin: 1em 0;
  }
  .carousel .flickity-page-dots .dot {
    opacity: 1;
    background-color: #B6D0D6;
  }
  .carousel .flickity-page-dots .dot.is-selected {
    background-color: #294E55;
  }
  
  figure.product-card {
    width: 25%;
    margin: 4% 0 2.5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-transform: scale(1);
            transform: scale(1);
    cursor: pointer;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  figure.product-card.is-selected {
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  figure.product-card .fig-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8200c9;
    text-align: center;
    padding: 5% 5%;
    transition: all 0.5s ease;
  }
  figure.product-card h2 {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
  }
  figure.product-card .fig-body {
    width: 80%;
    height: 500px;
    padding: 8%;
    display: block;
    background: #FFFFFF;
    position: relative;
    transition: all 0.5s ease;
  }
  figure.product-card .fig-body .button-text {
    display: flex;
    position: absolute;
    bottom: 5%;
    width: 80%;
    margin: 0 auto;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s ease;
  }
  figure.product-card .fig-body .button-text a {
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #E74C3C;
    color: #ECF0F1;
    padding: 1.5em;
    transition: all 0.5s ease;
    text-decoration: none;
  }
  figure.product-card .fig-body:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
  }
  figure.product-card .fig-body:hover .fig-head {
    background-color: #a300fc;
  }
  figure.product-card .fig-body:hover .button-text {
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    background-color: #d62c1a;
    color: white;
  }
  
  #recommended {
    position: absolute;
    display: inline-block;
    top: -48px;
    width: 100%;
    left: 0;
    right: 0;
    padding: 16px 0;
    margin: auto;
    max-width: 190px;
    background-color: #3498DB;
    font-size: 13px;
    color: #e1f0fa;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  
  ul.product-checklist {
    position: absolute;
    list-style-type: none;
    top: 125px;
    padding: 0 34px;
  }
  ul.product-checklist li {
    position: relative;
    font-size: 16px;
    color: #BFBFBF;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 25px;
    margin-bottom: 25px;
    -webkit-font-smoothing: antialiased;
  }
  ul.product-checklist li:nth-last-of-type(1) {
    margin-bottom: 0;
  }
  ul.product-checklist li.check {
    color: #8200c9;
    font-weight: 400;
  }
  ul.product-checklist li.check:before {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMRJREFUeNpiYCADaDbsVADRjGRonA+kAoDYkZFEjQlAaj6U+4GJTI0gUMhIpEYDIHUeSSjxeoP7AiYiNe5HEloA0kgwwKChCrJRAEljIkyeCaooAIgF0DSC+OuRNB5A1gjWDA0IkKL9MAOgNMipBlB1F4A4EN1ljECF75FMBylyhIZqALIY0NYP6JqZoIphEiCb7iNp/AAN2Q/YwoQRLUSR/f0BauMFXAHKiCVKYAaANB7AFxvweIba4Ijk1AOE0gBAgAEAgNJJfyEiUycAAAAASUVORK5CYII=");
    position: absolute;
    left: -34px;
    top: 3px;
  }
  
  .product-description {
    position: relative;
    margin: 125px 0 32px;
  }
  
  @media only screen and (max-width: 850px) {
    .container {
      width: initial;
      padding: 0;
      margin: 0;
    }
  
    .carousel .flickity-prev-next-button {
      display: block;
    }
    .carousel .flickity-page-dots {
      display: block;
      bottom: 30px;
    }
  
    figure.product-card {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      width: 40%;
      margin: 10% 0 7%;
    }
    figure.product-card.is-selected {
      -webkit-transform: scale(1);
      transform: scale(1);
      z-index: 100;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
    }
    figure.product-card.is-selected .fig-head {
      background-color: #a300fc;
    }
    figure.product-card:hover {
      box-shadow: none;
    }
    figure.product-card .fig-head {
      padding: 8% 1%;
    }
    figure.product-card h2 {
      font-size: 16px;
      line-height: 23px;
    }
    figure.product-card .fig-body {
      width: 100%;
      height: 420px;
      padding: 10%;
      background: #ffffff;
      position: relative;
    }
    figure.product-card .fig-body .button-text {
      left: 0;
      right: 0;
      margin: 0 9%;
    }
    figure.product-card .fig-body .button-text a {
      width: 100%;
      text-align: center;
    }
  
    #recommended {
      top: -45px;
      padding: 15px 0;
      max-width: 100%;
      font-size: 12px;
      letter-spacing: 4px;
    }
  
    ul.product-checklist {
      padding-left: 22px;
      width: 80%;
      top: 110px;
    }
    ul.product-checklist li {
      font-size: 14px;
      line-height: 32px;
      margin-bottom: 5px;
    }
    ul.product-checklist li.check:before {
      left: -23px;
      top: 2px;
    }
  
    .product-description {
      position: relative;
      margin: 80px 0 0;
    }
    .product-description p {
      font-size: 13px;
      line-height: 20px;
    }
  }
  @media only screen and (max-width: 640px) {
    .carousel .flickity-prev-next-button {
      display: block;
    }
    .carousel .flickity-page-dots {
      display: block;
    }
  
    figure.product-card {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      width: 70%;
      max-width: 300px;
      margin: 20% 0;
    }
    figure.product-card.is-selected {
      -webkit-transform: scale(1);
              transform: scale(1);
      z-index: 100;
    }
    figure.product-card .fig-head {
      padding: 8% 1%;
    }
    figure.product-card h2 {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 15px;
    }
    figure.product-card .fig-body {
      height: 420px;
      padding: 10%;
    }
  
    #recommended {
      top: -40px;
      padding: 12px 0;
      font-size: 13px;
      letter-spacing: 4px;
    }
  
    ul.product-checklist {
      padding-left: 22px;
      width: 80%;
      top: 110px;
    }
    ul.product-checklist li {
      font-size: 13px;
      line-height: 26px;
    }
    ul.product-checklist li.check:before {
      left: -23px;
      top: 2px;
    }
  
    .product-description {
      margin: 60px 0 0;
    }
    .product-description p {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 99999;
}
/* The dot */
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-top: -50px;
  margin-left: -80px;
  border-radius: 5px;
  background-color: #1e3f57;
  transform-type: preserve-3d;
  animation: dot1 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite; }

.dot:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background-color: #3c617d;
  animation-name: dot2; }

.dot:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background-color: #6bb2cd;
  animation-name: dot3; }



@keyframes dot1 {
  3%,
    97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px; }
  30%,
    36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px; }
  63%,
    69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px; } }
@keyframes dot2 {
  3%,
    97% {
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px; }
  30%,
    36% {
    width: 70px;
    height: 96px;
    margin-top: -48px;
    margin-left: -35px; }
  63%,
    69% {
    width: 32px;
    height: 60px;
    margin-top: -30px;
    margin-left: -16px; } }
@keyframes dot3 {
  3%,
    97% {
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px; }
  30%,
    36% {
    width: 8px;
    height: 8px;
    margin-top: 49px;
    margin-left: -5px;
    border-radius: 8px; }
  63%,
    69% {
    width: 16px;
    height: 4px;
    margin-top: -37px;
    margin-left: -8px;
    border-radius: 10px; } }

 